*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.grid{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header "
    "left "
    "right ";
    justify-content: center;
    padding: 0.8rem;
    margin: 0%;
    font-family: 'Inconsolata', monospace;

}
.header{
    width: 90%;
    grid-area: header;
    margin:1rem 1rem;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 900;
}
.left{
    width: 80vw;
    margin: 3rem 1rem;
}
.right{
    
    padding: 1rem;
    line-height: 3rem;
    font-size: 1.5em;
}
.right>p{
    margin-top: 2rem;
    line-height: 2rem;
}
button{
    margin-top: 4rem;
    padding: 1rem 2rem;
    color:whitesmoke;
    background-color: black;
    font-family: 'Inconsolata', monospace;
}

@media (min-width:480px){
    .left{
        width: 100%;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "left right";
    }
    .header{
        margin: 2rem;
        margin-right: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
    }
    .left{
        grid-area: left;
    }
    .right{
        padding: 2rem;
        width: 100%;
        font-size: 2.5rem;
        line-height: 5rem;
        grid-area: right;
    }
    
    .right>p{
        width: 70%;
        margin-top: 2rem;
        line-height: 3rem;
        font-size: 2rem;
    }
    button{
        margin-top: 2rem;
    }
}